h1 {
  color: white;
  font-size: 4rem;
  letter-spacing: 1px;
}

h1:hover {
  color: purple;
}

.main_div {
  display: flex;
}

.shot_form {
  color: white;
  display: flex;
  flex-direction: column;
  flex: 2;
  max-width: 40vw;
  min-height: 15vh;
}

.fm_inp {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 5px;
  margin-bottom: 20px;
}

.fm_inp > label {
  font-size: 25px;
  letter-spacing: 1px;
  margin-top: 10px;
  flex: 1;
}

.inp {
  font-size: 25px;
  padding: 10px;
  border: 3px solid orange;

  color: blue;
  flex: 5;
}

.btn {
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 25px;
  letter-spacing: 1px;
  background-color: blue;
  color: white;
}

.btn:disabled {
  background-color: grey;
}

.down_image {
  font-size: 25px;
  text-decoration: none;
  margin: 15px auto 0 auto;
  background-color: teal;
  color: white;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid white;
}

.img_div {
  color: white;
  flex: 1;
  min-height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid orange;
}

.res_img {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
}

@media only screen and (max-width: 1240px) {
  .main_div {
    flex-direction: column;
  }

  .img_div {
    margin-top: 30px;
  }

  .shot_form {
    min-width: 90vw;
  }

  .inp {
    font-size: 15px;
    padding: 0px;
  }
}
